<div class="px-2 py-6 flex-column">
  <div class="flex justify-content-center">
    <h1>Welcome</h1>
  </div>
  <div class="flex justify-content-center pt-2">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" style="max-width: 40rem">
      <div class="field">
        <label for="backendUrl">Backend</label>
        <input id="backendUrl" class="w-full" aria-describedby="backendUrl-help"
               [disabled]="busying" pInputText formControlName="backendUrl"/>
        <small id="backendUrl-help">The root url of backend. DO NOT include the ending '/'.</small>
      </div>

      <div class="field">
        <label for="repoFile">Repo file</label>
        <p-fileUpload id="repoFile" [customUpload]="true" [showUploadButton]="false"
                      [showCancelButton]="false" class="w-full" aria-describedby="repoFile-help"
                      [disabled]="busying"
                      (onRemove)="handleClearFile($event)" (onSelect)="handleSelectFile($event)"
        ></p-fileUpload>
        <small id="repoFile-help">Select your repo file. Leave it empty if you don't have yet.</small>
        <br/>
        <small>Current loaded: {{loadedTags.length}} tag(s).</small>
      </div>

      <div class="flex justify-content-end">
        <button pButton pRipple label="Connect" icon="pi pi-forward" type="submit"
                [disabled]="!form.valid || busying" class="button p-d-block p-mx-auto"
        ></button>
      </div>

    </form>
  </div>
</div>
