<div class="py-3 px-1">
  <div class="flex justify-content-center" *ngIf="loading">
    <h3>Loading...</h3>
  </div>
  <div *ngIf="!loading">
    <div class="flex justify-content-center" *ngIf="currentEntry == null">
      <h3>Entry not found!</h3>
    </div>
    <p-panel header="Basic details" *ngIf="currentEntry != null">

      <ng-template pTemplate="icons">
        <ng-container>
          <div class="flex align-items-center justify-content-end">
            <button pButton type="button" label="Remove" icon="pi pi-trash" class="mx-1"
                    (click)="remove()"></button>
            <button pButton type="button" label="Flatten" icon="pi pi-list" class="mx-1"
                    [disabled]="entryType != 'TREE'"
                    (click)="flatten()"></button>
            <button pButton type="button" label="Create version" icon="pi pi-copy" class="mx-1"
                    [disabled]="entryType == 'COMMIT'"
                    (click)="flatten()"></button>
            <button pButton type="button" label="New version" icon="pi pi-book" class="mx-1"
                    [disabled]="entryType != 'COMMIT'"
                    (click)="flatten()"></button>
          </div>
        </ng-container>
      </ng-template>
      <p-table [value]="[1]">
        <ng-template pTemplate="body">
          <tr>
            <td>UUID</td>
            <td>
              {{ currentEntry.uuid }}
            </td>
          </tr>
          <tr>
            <td>Name</td>
            <td>
              {{ currentEntry.name }}
            </td>
          </tr>
          <tr>
            <td>Multihash</td>
            <td>
              {{ currentEntry.multihash }}
            </td>
          </tr>
          <tr>
            <td>Last update</td>
            <td>
              {{ currentEntry.lastUpdate | date: "yyyy-MM-dd HH:mm:ss" }}
            </td>
          </tr>
          <tr *ngIf="status != null">
            <td>Type</td>
            <td>
              {{ status.type }}
            </td>
          </tr>
          <tr *ngIf="status != null && status.media_type != null">
            <td>Media type</td>
            <td>
              {{ status.media_type }}
            </td>
          </tr>
          <tr *ngIf="status != null">
            <td>Status</td>
            <td>
              {{ status.status }}
            </td>
          </tr>
          <tr *ngIf="status != null">
            <td>Raw size</td>
            <td>
              {{ status.raw_size }} bytes
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
