<p-table [value]="value" [paginator]="true"
         [selection]="selection" (selectionChange)="selectionChange.emit($event)" [rows]="20"
         sortMode="multiple">
  <ng-template pTemplate="header">
    <tr> <!-- TODO more fine tuning here -->

      <th style="width: 3rem" *ngIf="allowSelection">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>

      <th>
        UUID
        <p-columnFilter type="text" field="uuid" display="menu"></p-columnFilter>
      </th>

      <th pSortableColumn="name">
        Name
        <p-sortIcon field="name"></p-sortIcon>
        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
      </th>

      <th>
        Multihash
        <p-columnFilter type="text" field="multihash" display="menu"></p-columnFilter>
      </th>

      <th pSortableColumn="lastUpdate">
        Last update
        <p-sortIcon field="lastUpdate"></p-sortIcon>
        <p-columnFilter type="date" field="lastUpdate" display="menu">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-calendar #calendar [ngModel]="value" (onSelect)="filter(calendar.value)"
                        dateFormat="yy-mm-dd"></p-calendar>
          </ng-template>
        </p-columnFilter>
      </th>


      <th></th> <!-- empty one for detail button-->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tag>
    <tr>
      <td *ngIf="allowSelection">
        <p-tableCheckbox [value]="tag"></p-tableCheckbox>
      </td>
      <td>{{asTag(tag).uuid}}</td>
      <td>{{asTag(tag).name}}</td>
      <td>{{asTag(tag).multihash | truncateMultihash}} </td>
      <td>{{asTag(tag).lastUpdate | date: "yyyy-MM-dd HH:mm:ss"}}</td>
      <td>
        <button pButton type="button" label="Details"
                icon="pi pi-search" class="p-button-outlined"
                [routerLink]="['/entry' , asTag(tag).uuid]"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
