<div class="py-3 px-1">
  <div class="flex justify-content-center" *ngIf="loading">
    <h3>Loading...</h3>
  </div>
  <div *ngIf="!loading">
    <div class="flex justify-content-center" *ngIf="currentEntry == null">
      <h3>Entry not found!</h3>
    </div>
    <p-dialog header="Rename entry" [(visible)]="showRenameDialog" [modal]="true" [style]="{width: '50vw'}"
              [draggable]="false" [resizable]="false">
      <div class="mt-4">
        <span class="p-float-label">
        <input id="newName" type="text"
               class="w-full"
               [formControl]="newNameForm" pInputText>
        <label for="newName">New name</label>
      </span>
      </div>
      <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="rename()" label="Confirm" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-dialog>
    <p-dialog header="Versioning entry" [(visible)]="showVersionDialog" [modal]="true" [style]="{width: '50vw'}"
              [draggable]="false" [resizable]="false">

      <div class="mt-4" *ngIf="needPickTargetLink">
        <label for="targetLink">Commit content</label><br/>
        <p-dropdown id="targetLink" [options]="tagService.getAllList()" [(ngModel)]="commitTargetEntry"
                    optionLabel="name" class="w-full"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="Select the commit content">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="commitTargetEntry">
              {{commitTargetEntry.name}}({{commitTargetEntry.uuid}})
            </div>
          </ng-template>
          <ng-template let-entry pTemplate="item">
            <div>
              {{entry.name}}({{entry.uuid}})
            </div>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="mt-4">
        <label for="authorLink">Author link</label><br/>
        <p-dropdown id="authorLink" [options]="tagService.getAllList()" [(ngModel)]="authorEntry"
                    optionLabel="name" class="w-full"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a author entry">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="authorEntry">
              {{authorEntry.name}}({{authorEntry.uuid}})
            </div>
          </ng-template>
          <ng-template let-entry pTemplate="item">
            <div>
              {{entry.name}}({{entry.uuid}})
            </div>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="mt-4">
        <span class="p-float-label">
          <textarea id="commitMessage" class="w-full"
                    [formControl]="commitMessageControl" pInputTextarea>
          </textarea>
          <label for="commitMessage">Commit message</label>
        </span>
      </div>

      <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="createVersion()" label="Confirm" styleClass="p-button-text"
          [disabled]="(needPickTargetLink && commitTargetEntry == null) || authorEntry == null || commitMessageControl.invalid"
        ></p-button>
      </ng-template>
    </p-dialog>
    <p-panel header="Basic details" *ngIf="currentEntry != null">
      <ng-template pTemplate="icons">
        <ng-container>
          <div class="flex align-items-center justify-content-end">
            <button pButton type="button" label="Remove" icon="pi pi-trash" class="mx-1"
                    (click)="remove()"></button>
            <button pButton type="button" label="Rename" icon="pi pi-comments" class="mx-1"
                    (click)="showRenameDialog = true"></button>
            <button pButton type="button" label="Download" icon="pi pi-download" class="mx-1"
                    [disabled]="entryType != 'BLOB' && entryType != 'LIST'"
                    (click)="download()"></button>
            <button pButton type="button" label="Flatten" icon="pi pi-list" class="mx-1"
                    [disabled]="entryType != 'TREE'"
                    (click)="flatten()"></button>
            <button pButton type="button" label="Init commit" icon="pi pi-book" class="mx-1"
                    [disabled]="entryType == 'COMMIT'"
                    (click)="needPickTargetLink = false; commitTargetEntry = null; showVersionDialog = true;"></button>
            <button pButton type="button" label="New commit" icon="pi pi-copy" class="mx-1"
                    [disabled]="entryType != 'COMMIT'"
                    (click)="needPickTargetLink = true; commitTargetEntry = null; showVersionDialog = true;"></button>
          </div>
        </ng-container>
      </ng-template>
      <p-table [value]="[1]">
        <ng-template pTemplate="body">
          <tr>
            <td>UUID</td>
            <td>
              {{ currentEntry.uuid }}
            </td>
          </tr>
          <tr>
            <td>Name</td>
            <td>
              {{ currentEntry.name }}
            </td>
          </tr>
          <tr>
            <td>Multihash</td>
            <td>
              {{ currentEntry.multihash }}
            </td>
          </tr>
          <tr *ngIf="status != null">
            <td>Type</td>
            <td>
              {{ status.type }}
            </td>
          </tr>
          <tr *ngIf="status != null && status.media_type != null">
            <td>Media type</td>
            <td>
              <a (click)="preview()" target="_blank">{{ status.media_type }} (Click to preview)</a>
            </td>
          </tr>
          <!--          <tr *ngIf="status != null">-->
          <!--            <td>Status</td>-->
          <!--            <td>-->
          <!--              {{ status.status }}-->
          <!--            </td>-->
          <!--          </tr>-->
          <tr *ngIf="status != null">
            <td>Raw size</td>
            <td>
              {{ status.raw_size }} bytes
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
    <div class="py-3"></div>
    <p-panel header="Sub links" *ngIf="subLinks != null">
      <app-link-list [value]="subLinks"></app-link-list>
    </p-panel>
    <p-panel header="Commit details" *ngIf="commitInfo != null">
      <app-commit-info [value]="commitInfo"></app-commit-info>
    </p-panel>
  </div>
</div>
