<p-panel header="Chunks" class="py-3 px-1">
  <ng-template pTemplate="icons">
    <ng-container>
      <div class="flex align-items-center justify-content-end">
        <button pButton type="button" label="Upload" icon="pi pi-arrow-circle-up" class="mx-1"
                [routerLink]="['/upload']"></button>
        <button pButton type="button" label="Remove" icon="pi pi-trash" class="mx-1"
                (click)="removeSelected()"
                [disabled]="selectedTags.length == 0"></button>
        <button pButton type="button" label="Create tree" icon="pi pi-plus" class="mx-1"
                [disabled]="selectedTags.length == 0"
                (click)="createTree()"></button>
      </div>
    </ng-container>
  </ng-template>

  <div>
    <app-entry-list [value]="tags" [allowSelection]="true"
                    [(selection)]="selectedTags"
    ></app-entry-list>
  </div>
  <div class="flex justify-content-center" *ngIf="tags.length == 0">
    <h4>Nothing to show here... Maybe upload something?</h4>
  </div>
</p-panel>
