<div class="py-3 px-1">
  <p-panel header="Basic details">
    <ng-template pTemplate="icons">
      <ng-container>
        <div class="flex align-items-center justify-content-end">
          <button pButton type="button" label="Add to repo" icon="pi pi-shopping-cart" class="mx-1"
                  (click)="addToRepo()"></button>
          <button pButton type="button" label="Download" icon="pi pi-download" class="mx-1"
                  [disabled]="status != null && status.type != 'BLOB' && status.type != 'LIST'"
                  (click)="download()"></button>
          <!--            <button pButton type="button" label="Create version" icon="pi pi-copy" class="mx-1"-->
          <!--                    [disabled]="entryType == 'COMMIT'"-->
          <!--                    (click)="createVersion()"></button>-->
          <!--            <button pButton type="button" label="New version" icon="pi pi-book" class="mx-1"-->
          <!--                    [disabled]="entryType != 'COMMIT'"-->
          <!--                    (click)="newVersion()"></button>-->
          <!-- TODO -->
        </div>
      </ng-container>
    </ng-template>
    <p-table [value]="[1]">
      <ng-template pTemplate="body">
        <tr>
          <td>Name</td>
          <td>
            {{ name }}
          </td>
        </tr>
        <tr>
          <td>Multihash</td>
          <td>
            {{ multihash }}
          </td>
        </tr>
        <tr *ngIf="status != null">
          <td>Type</td>
          <td>
            {{ status.type }}
          </td>
        </tr>
        <tr *ngIf="status != null && status.media_type != null">
          <td>Media type</td>
          <td>
            <a (click)="preview()" target="_blank">{{ status.media_type }} (Click to preview)</a>
          </td>
        </tr>
        <!--          <tr *ngIf="status != null">-->
        <!--            <td>Status</td>-->
        <!--            <td>-->
        <!--              {{ status.status }}-->
        <!--            </td>-->
        <!--          </tr>-->
        <tr *ngIf="status != null">
          <td>Raw size</td>
          <td>
            {{ status.raw_size }} bytes
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
  <div class="py-3"></div>
  <p-panel header="Sub links" *ngIf="subLinks != null">
    <p-table [value]="subLinks" [paginator]="true" [rows]="20">
      <ng-template pTemplate="header">
        <tr>
          <th>
            Name
          </th>

          <th>
            Link
          </th>

          <th>
            Type
          </th>

          <th></th> <!-- empty one for detail button-->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-link>
        <tr>
          <td>{{asLink(link).name}}</td>
          <td>{{asLink(link).link}}</td>
          <td>{{asLink(link).type}}</td>
          <td>
            <button pButton type="button" label="Details"
                    icon="pi pi-search" class="p-button-outlined"
                    (click)="router.navigate(['/proto' , asLink(link).link],
                      { queryParams: { name: asLink(link).name }})"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
  <p-panel header="Commit details" *ngIf="commitInfo != null">
    <app-commit-info [value]="commitInfo"></app-commit-info>
  </p-panel>
</div>
